<head>
<style>
h1 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

p {
  text-align: center;
}
</style>
</head>

<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= link_to user.name, user %></td>
        <td>W/L Ratio: <%= user.user_record.ratio %></td>
        <td>Total Picks: <%= user.user_record.total %></td>
        <td>Wins: <%= user.user_record.wins %></td>
        <td>Losses: <%= user.user_record.losses %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!-- SORT TABLE -->