<head>
<style>
h1 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}
</style>
</head>

<p id="notice"><%= notice %></p>
<h1><%= @user.name %>'s Picks</h1>
<p>Email: <%= @user.email %></p>
<h3>W/L Ratio: <%= @user.user_record.ratio %> Wins: <%= @user.user_record.wins %> Losses: <%= @user.user_record.losses %> Total Picks: <%= @user.user_record.total %></h3>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
  </thead>

  <tbody>
    <% @user.picks.each do |pick| %>
      <tr>
        <% @game = Game.find(pick.game_id) %>
        <% @ht = Team.where(:team_id => @game.ht_id).first %>
        <% @at = Team.where(:team_id => @game.at_id).first %>
        <% @team_picked = @ht.name if pick.pick == 1 %>
        <% @team_picked = @at.name if pick.pick == 2 %>
        <% @team_picked = "tie" if pick.pick == 3 %>
        <td><%= @ht.name %></td>
        <td><%= @game.hscore %></td>
        <td><%= @at.name %></td>
        <td><%= @game.ascore %></td>
        <td>Pick: <%= @team_picked %></td>
        <td>Week <%= @game.week %></td>
        <td><%= @game.time %></td>
        <% if @user == current_user %>
          <td><a class="nav-btn" href="/picks/<%= pick.id %>/edit_pick">Change your Pick</a></td>        
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to 'Back', users_path %></p>
