<head>
<style>
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

p {
  text-align: center;
}

div {
  text-align: center;
}

table {
  margin-right: auto;
  margin-left: auto;
}

td {
  text-align: center;
}

td.title {
  font-weight: bold;
  text-decoration: underline;
}

td.title2 {
  font-weight: bold;
}
</style>
</head>

<h1><%= image_tag(@away.logo_url, :alt => "Logo", :height => 40.96, :width => 54.60) %> <%= @away.name %> (<%= @away.wins %>-<%= @away.losses %>) @ <%= @home.name %> (<%= @home.wins %>-<%= @home.losses %>) <%= image_tag(@home.logo_url, :alt => "Logo", :height => 40.96, :width => 54.60) %></h1>
<h2>Week <%= @game.week %></h2>
<h2><%= @game.time %></h2>
<h2><%= @game.ascore %>-<%= @game.hscore %></h2>
<table>
  <tr>
    <td class="title">Statistic</td>
    <td class="title"><%= @home.name %></td>
    <td class="title"><%= @away.name %></td>
  </tr>
  <tr>
    <td class="title2">Offensive Pass YPG</td>
    <td><%= @home.off_pass_ypg %></td>
    <td><%= @away.off_pass_ypg %></td>
  </tr>
  <tr>
    <td class="title2">Offensive Rush YPG</td>
    <td><%= @home.off_rush_ypg %></td>
    <td><%= @away.off_rush_ypg %></td>
  </tr>
  <tr>
    <td class="title2">Offensive Total YPG</td>
    <td><%= @home.off_tot_ypg %></td>
    <td><%= @away.off_tot_ypg %></td>
  </tr>
  <tr>
    <td class="title2">Defensive Pass YPG</td>
    <td><%= @home.def_pass_ypg %></td>
    <td><%= @away.def_pass_ypg %></td>
  </tr>
  <tr>
    <td class="title2">Defensive Rush YPG</td>
    <td><%= @home.def_rush_ypg %></td>
    <td><%= @away.def_rush_ypg %></td>
  </tr>
  <tr>
    <td class="title2">Defensive Total YPG</td>
    <td><%= @home.def_tot_ypg %></td>
    <td><%= @away.def_tot_ypg %></td>
  </tr>
</table>
<% if logged_in? %>
  <% @pick = Pick.where(:user_id => current_user.id, :game_id => @game.id).first %>
  <% if @pick.nil? %>
    <p>You did not make a pick for this game</p>
    <div><a class="nav-btn" href="/game/<%= @game.id %>/make_pick">Make a Pick</a></div>
  <% else %>
    <% @team_picked = @home.name if @pick.pick == 1 %>
    <% @team_picked = @away.name if @pick.pick == 2 %>
    <% @team_picked = "tie" if @pick.pick == 3 %>
    <p>Your pick for this game was <%= @team_picked %></p>
    <div><a class="nav-btn" href="/picks/<%= @pick.id %>/edit_pick">Change your Pick</a></div>
  <% end %>
<% end %>