<%= form_for(@pick) do |f| %>
  <%= f.select :pick, [["Home", 1],["Away", 2],["Tie", 3]], {} %>
  <%= hidden_field_tag 'game_id', 177 %> 
  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
      <% @pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
